/* styles that will change */
BODY, TD, P, DIV
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 11px;
}

A:hover
{
    color: #FF6600;
    text-decoration: none;
}

.commtitle
{
    color: #FF6600;
    font-size: 14px;
}

.footer
{
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover
{
    text-decoration: none;
    color: #FFCC00;
}

.footer a:link
{
    text-decoration: none;
    color: #ffffff;
}

.footer a:visited
{
    text-decoration: none;
    color: #ffffff;
}

.formlinks
{
    color: #FFFFFF;
    font-size: 12px;
}

.formnomargin
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.headerFont
{
    color: #000000;
    font-size: 12px;
}

.highlight
{
    background-color: #ffCC00;
    border: 0;
    width: 100%;
}

.nav
{
    font-size: 12px;
    text-decoration: none;
    color: #000099;
}

.nav a:hover { color: #000000; }

.navselect
{
    color: #333333;
    font-size: 11px;
    text-decoration: none;
    padding-top: 10px;
}

.registerbutton
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFCC;
    background-color: #FF6600;
	border: inset 0px; 
}

.cancelbutton
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #cccccc;
	border: inset 0px; 
}

.rowheader
{
    background-color: #ffCC00;
    border: 0;
    width: 100%;
}

.sbenchnav { border-bottom: #ffffff 1px; }

.sbenchnavhd
{
    background-color: #ff6600;
    border-bottom: #ffffff 1px;
}

.sitemap
{
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
}

.sitemap a:hover
{
    text-decoration: none;
    color: #FFCC00;
}

.sitemap a:link
{
    text-decoration: none;
    color: #ffffff;
}

.sitemap a:visited
{
    text-decoration: none;
    color: #ffffff;
}

.sitemapselect { color: #000000 !important; }

.tm
{
    font-size: 11px;
    line-height: 1.4em;
}

.mybbnav
{
    color: #333333;
    font-size: 11px;
    text-decoration: none;
}

.mybbnav:hover { text-decoration: underline; }

.mybbheadernav
{
    color: #FFFFFF;
    font-size: 12px;
    text-indent: 5px;
}

.consumernav
{
    font-size: 11px;
    padding-top: 10px;
    padding-left: 5px;
    text-decoration: none;
}

.consumerheader
{
    font-size: 11px;
    color: #000000;
    padding-left: 5px;
}

.bigtitle
{
    font-size: 16px;
    color: #ff6600;
}

.bigtitle2
{
    font-size: 14px;
    color: #ff6600;
}

.body2
{
    font-size: 11px;
    line-height: 1.4;
}

.indlinks
{
    font-size: 10px;
    line-height: 1.8;
}