/* Created using Style Master from Western Civilisation NS4.0 NS6 IE4.0 IE5 { 46 94 451 409 } */
.sitemap2
{color: #ffffff;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  70%;
text-decoration: none}

.sitemap2:hover
{color: #000000;
text-decoration:underline;}

.sitemap
{color: #333333;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  70%;
text-decoration: none}

.author
{color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  83%}

.bigtext
{color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  90%}

.bigtext2
{color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  85%}

.body
{color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  80%}

.blue
{color: #0000CC;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  80%;
text-decoration: underline}

.blue2
{color: #0000CC;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  80%;
text-decoration: none}

.news
{font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  75%}

.newstitle
{color: #0000CC;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  75%}

.code
{color: #000000;
font-family: "Courier New", Courier, mono;
font-size:  90%}

.commtitle
{color: #FF6600;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  100%}

.commtitle2
{color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  100%;
font-weight: bold}

.commtitle3
{color: #FF6600;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  75%;
font-weight: bold}

.commbody
{font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  85%}

.dir
{color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  80%}

.formlinks
{color: #FFFFFF;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  90%}

.options
{color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  80%}

.tm
{font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  70%}

.tc
{color: #0000CC;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  70%}

.sublinks
{color: #FF6600;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  70%}

.testCategory
{color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  90%;
text-decoration: none}

.rowheader
{background-color: #ffCC00;
border: 0;
width:  100%}

.headerFont
{color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:  80%}

.white
{background-color: #ffffff;
border: 0;
width:  100%}

.required
{color: #FF0000;}

A:hover
{color: #FF6600;
text-decoration: none}

.mono
{font-family: Courier, monospace}